<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Interface de Controle do Robô</title>
        <script language="javascript" type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
        <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

        <style type="text/css">
                
                #frente, #esquerda,
                #para,#direita,
                #atras{
                    width:80px;
                    height:35px;
                }
           
                img{
		    width:640px;
		    height:480px;
		    margin-left:10px;
		    left:115px;
		    top:0px;	
		}
        </style>
</head>
<body>

<div align="left">
<img src="http://177.220.35.128:8080/?action=stream"/>
<div id="video"></div>

<div style="position:absolute; top:150px; left:800px">  
  <div align="center">
       <input type="button" id="frente"   value="Frente"   onclick="frente()"   /> <br/>
       <input type="button" id="esquerda" value="Esquerda" onclick="esquerda()" /> 
       <input type="button" id="para"     value="Parar"    onclick="para()"     />
       <input type="button" id="direita"  value="Direita"  onclick="direita()"  /> <br/>
       <input type="button" id="atras"    value="Atrás"    onclick="atras()"    /> <br/>
  <div id="botoes"></div>    
<div id="botoesControle"></div>

<div style="position:absolute; top:230px; right:250px">
<p>Inclinação em x: <span id="inclinacaox">?</span><p/>
<p>Temperatura:     <span id="temperatura">?</span><p/>
<div id="controls_incx_temp"></div>

<div style="position:absolute; top:0px; left:200px">
<p>Inclinação em y: <span id="inclinacaoy">?</span><p/>
<p>Luminosidade:    <span id="luminosidade">?</span><p/>
<div id="controls_incy_lumi"></div>

<div style="position:absolute; top:0px; left:200px">
<p>Distância obs.:  <span id="ultrasom">?</span>	
<div id="controls_ults"></div>

</body>

</html>

